<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="Author" content="F.Fang">
    <meta name="Language" scheme="Language Codes" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>上海电气智能风电</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/skin-black.css" rel="stylesheet" id="skinCss">
    <!-- mCustomScrollbar 滚动条 -->
    <link href="/stylesheets/jquery.mCustomScrollbar.css" rel="stylesheet">
</head>
<body>
<!-- ***** HEADER ***** -->
<header id="header">
    <div class="logo pull-left"><a href="云端-首页.html" title="上海电气智能风电风云">
    	<img src="/images/logo.png" width="120"height="30" alt="上海电气"> 智能风电
    		<img src="/images/logo-fengyun.png" width="40" height="30" alt="风云"></a>
        <small>智能监控系统</small>
    </div>
    <div class="wind-farm-name pull-left"><img src="/tmp/user-logo.jpg"> 临港风电场</div>
    <div class="member-info pull-right">
    	<span href="#">张三</span> 
    	<span class="dropdown">
    		<a href="javascript:;"title="信息"class="dropdown-toggle"type="button"id="dropdownMenu1"data-toggle="dropdown"
                                                                                           aria-haspopup="true"
                                                                                           aria-expanded="true">
           		<span class="glyphicon glyphicon-envelope"></span><sup class="red-dot"></sup> 
    		</a>
	    <ul class="dropdown-menu dropdown-menu-right">
	        <li><a href="javascript:;">信息第一条</a></li>
	        <li><a href="javascript:;">我是第二条信息</a></li>
	        <li><a href="javascript:;">点我点我！我是No.3</a></li>
	        <li><a href="javascript:;">我是最后一条</a></li>
	        <li role="separator" class="divider"></li>
	        <li><a href="javascript:;">查看全部消息</a></li>
	    </ul>
	    </span> 
	    <a href="#" class="glyphicon glyphicon-cog" title="设置"></a> 
	    <a href="本地风场-登录页.html"class="glyphicon glyphicon-log-out"title="退出"></a>
    </div>
    <ul class="skin-btn list-inline pull-right">
        <li id="skinBlack" class="skin-btn-black active" title="黑"></li>
        <li id="skinWhite" class="skin-btn-white" title="白"></li>
        <li id="skinCyan" class="skin-btn-cyan" title="青"></li>
        <li id="skinBlue" class="skin-btn-blue" title="蓝"></li>
        <li id="skinGreen" class="skin-btn-green" title="绿"></li>
        <li id="skinRed" class="skin-btn-red" title="红"></li>
    </ul>
</header>
<!-- ***** /HEADER ***** -->
<!-- ***** ASIDE ***** -->
<aside id="aside">
    <div class="aside-arrow"><span class="glyphicon glyphicon-menu-left"></span></div>
    <ul class="sidebar">
        <li><a href="javascript:;"><span class="pull-right glyphicon glyphicon-plus-sign glyphicon-minus-sign"></span>配置</a>
            <ul>
                <li><a href="本地风场-CMS-图表-配置-轴承管理.html">轴承管理</a></li>
                <li><a href="#">齿箱库管理</a></li>
                <li><a href="本地风场-CMS-图表-配置-报警门限管理.html" class="active">报警门限管理</a></li>
                 <li><a href="#" >CMS通信.表</a></li>
            </ul>
        </li>
    </ul>
</aside>
<!-- ***** /ASIDE ***** -->
<!-- ***** NAV ***** -->
<nav id="nav" class="nav-md">
    <div class="bread-crumb">
    	<strong>当前位置：</strong> 
    	<a href="云端-首页.html">云端首页</a> &gt; 
    	<a href="云端-智能监控-风场监控-视图.html">智能监控</a>
        &gt; <a href="本地风场-监控-风场页-视图.html">监控</a> &gt; 报警门限管理
    </div>
    <ul class="nav-list clearfix">
        <li><a href="javascript:;"><span class="glyphicon glyphicon-eye-open"></span> 监控 <span class="caret"></span></a>
            <ul>
                <li><a href="本地风场-监控-风场页-视图.html"><span class="glyphicon glyphicon-eye-open"></span> 实时监控</a></li>
                <li><a href="本地风场-能量管理-能量控制.html"><span class="glyphicon glyphicon-tasks"></span> 能量管理</a></li>
                <li><a href="本地风场-实时对比.html"><span class="glyphicon glyphicon-equalizer"></span> 实时对比</a></li>
            </ul>
        </li>
        <li><a href="本地风场-视频监控-首页.html"><span class="glyphicon glyphicon-facetime-video"></span> 视频监控</a></li>
        <li><a href="本地风场-故障-故障处理.html"><span class="glyphicon glyphicon-alert"></span> 故障</a></li>
        <li><a href="本地风场-报表-历史报表.html"><span class="glyphicon glyphicon-th"></span> 报表</a></li>
        <li><a href="本地风场-配置-风场配置-MODBUS发布模板.html"><span class="glyphicon glyphicon-th-list"></span> 配置</a></li>
        <li><a href="本地风场-管理-分数据中心-认证.html"><span class="glyphicon glyphicon-cog"></span> 管理</a></li>
        <li><a href="本地风场-健康值.html"><span class="glyphicon glyphicon-dashboard"></span> 健康值</a></li>
        <li><a href="本地风场-CMS-图表.html" class="active"><span class="glyphicon glyphicon-copyright-mark"></span> CMS</a>
        </li>
        <li><a href="本地风场-风场介绍.html"><span class="glyphicon glyphicon-list-alt"></span> 风场介绍</a></li>
    </ul>
</nav>
<!-- ***** /NAV ***** -->
<!-- ***** ARTICLE ***** -->
<article id="article" class="article-md clearfix">
    <!-- MAIN -->
    <div class="main clearfix">
        <!-- 信息栏 -->
        <div class="info-panel clearfix">
            <div class="form-horizontal">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"
                        data-backdrop="static"><span class="glyphicon glyphicon-plus"></span> 添加
                </button>
               &nbsp;
                <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-share-alt"></span> 导出</button>
                &nbsp;
                <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download-alt"></span> 导入
                </button>
            </div>
        </div>
        <!-- /信息栏 -->
        <!-- 表格 -->
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th>风机名</th>
                <th>测点名称</th>
                <th>RMS值警戒线</th>
                <th>峰值预警线</th>
                <th>峰值报警线</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <%data.data.forEach(function(items){%>
            <tr>
                <th><%=items.fanName%></th>
                <td><%=items.measuringName%></td>
                <th><%=items.RMScordon%></th>
                <th><%=items.warningLine%></th>
                <td><%=items.policeLine%></td>
                <td>
                    <a href="#"  data-toggle="modal" data-target="#myModal1"
                       data-backdrop="static">查看</a>&nbsp;&nbsp;
                    <a href="#"  data-toggle="modal" data-target="#myModal2"
                       data-backdrop="static">修改</a>&nbsp;&nbsp;
                    <a href="#">删除</a>
                </td>
            </tr>
            <%})%>
            </tbody>
        </table>
        <!-- /表格 -->
        <ul class="pagination pull-right pagination-sm">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li><a href="#">1 </a></li>
            <li class="active"><a href="#">2 </a></li>
            <li><a href="#">3 </a></li>
            <li><a href="#">4 </a></li>
            <li><a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a></li>
        </ul>
    </div>
    <!-- /MAIN -->
</article>
<!-- ***** /ARTICLE ***** -->
<!-- ***** FOOTER ***** -->
<footer id="footer">版权所有 © 2015-2020 上海电气风电设备有限公司 建议使用IE9+ 浏览器 1280*1024 以上分辨率</footer>
<!-- ***** /FOOTER ***** -->
<!-- MODAL -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">添加报警门限</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">风机名</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" value="" size="8">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">测点名称</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" value="" size="8">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">RMS值警戒线</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" value="" size="8">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">峰值预警线</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" value="" size="8">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">峰值报警线</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" value="" size="8">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL -->
<!-- MODAL1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">查看报警门限</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">风机名</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" value="" size="8">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">测点名称</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" value="" size="8">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">RMS值警戒线</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" value="" size="8">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">峰值预警线</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" value="" size="8">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">峰值报警线</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" value="" size="8">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL1 -->
<!-- MODAL2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改报警门限</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">风机名</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" value="" size="8">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">测点名称</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" value="" size="8">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">RMS值警戒线</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" value="" size="8">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">峰值预警线</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" value="" size="8">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">峰值报警线</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" value="" size="8">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL2 -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery-1.11.2.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/jquery.cookie.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script>
    $(function () {
        //提示框
        $('[data-toggle="tooltip"]').tooltip();
    });

    $("tbody>tr>td>a:first").click(function(){

    })


</script>
<!-- holder 图片生成 -->
<script src="/javascripts/holder.min.js"></script>
<!-- mCustomScrollbar 滚动条 -->
<script src="/javascripts/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- 全局 -->
<script src="/javascripts/script.js"></script>
<!–[if IE]>
<script src="/javascripts/html5.js"></script>
<![endif]–>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>